<ion-header>
  <ion-toolbar>
    <ion-title>Generar Código</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="generateCode()">Generar Código</ion-button>
  <div *ngIf="code">
    <h2>{{code}}</h2>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar class="duocFooter" slot="bottom">
        <!-- Usando ngSwitch para los botones -->
        <ion-tab-button tab="back">
          <ion-icon name="arrow-back-outline"></ion-icon>
          Volver
        </ion-tab-button>
        <ion-tab-button tab="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
          perfil
        </ion-tab-button>
        <ion-tab-button tab="calendar">
          <ion-icon name="calendar-outline"></ion-icon>
          Asistencia
        </ion-tab-button>
        <ion-tab-button tab="more">
          <ion-icon name="menu-outline"></ion-icon>
          more
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>