<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title> Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contrasena</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid> 
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/img/logo.png" alt="Logo de DuocUC"></ion-img>
        <ion-item>
          <ion-input [(ngModel)]="newPassword" label="Nueva contraseña" type="password" value="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="confirmNewPassword" label="Confirme contraseña" type="password" value="password"></ion-input>
        </ion-item>
    
        <ion-list class="input-container">
          <ion-button class="button-login" (click)="onSubmit()">Recuperar contraseña</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>