<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="wrapper">
    <!-- Logo -->
    <ion-row>
      <ion-img *ngIf="!isDarkMode()" class="logo" src="../../../assets/img/logo/logo-light.svg"
        alt="Logo Modo Claro"></ion-img>
      <ion-img *ngIf="isDarkMode()" class="logo" src="../../../assets/img/logo/logo-dark.svg"
        alt="Logo Modo Oscuro"></ion-img>
    </ion-row>
    <!-- Formulario reseteo de contraseña -->
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <form class="form-wrapper" [formGroup]="resetForm" (ngSubmit)="onReset()">
        <ion-text class="ion-text-center">Ingresa tu correo electrónico para restablecer tu contraseña</ion-text>
        <ion-input class="input-reset" label="Correo electrónico" label-placement="floating" type="email"
          formControlName="email" [clearInput]="true" errorText="Correo inválido"></ion-input>
        <ion-button type="submit" classtype="submit" class="button-form"> Restablecer contraseña </ion-button>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>