.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#foto{
    font-size: 120px !important ;
    color: #0C243C;
    
}   
.barra{
    
    color: #0C243C;
}
.duocFooter{
    --background:#0C243C;
    --color:#b5b5b5;
    
}