<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Cambio de contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contrasena</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid> 
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/img/logo.png" alt="Logo de DuocUC"></ion-img>
        <ion-item>
          <ion-input label="Nueva contraseña" type="password" value="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Confirme contraseña" type="password" value="password"></ion-input>
        </ion-item>
    
        <ion-list class="input-container">
          <ion-button class="button-login">Recuperar contraseña</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="duocFooter">
    <ion-grid [fixed]="true" >
      <ion-button (click)="navigateToLogin()" class="retorno" fill="clear">
        <ion-icon name="chevron-back-outline"> </ion-icon>
      </ion-button>
    </ion-grid>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>