<ion-header>
  <ion-toolbar>
    <ion-title>Escanear Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-icon name="scan"></ion-icon>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar class="duocFooter" slot="bottom">
        <ion-tab-button (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
          Regresar
        </ion-tab-button>

        <ion-tab-button tab="Más">
          <ion-icon name="menu-outline"></ion-icon>
          more
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
