<ion-header>
  <ion-toolbar>
    <ion-title>Escanear Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-container">
    <form [formGroup]="asistenciaForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-item>
          <ion-input formControlName="uuid" type="text" label="UUID"></ion-input>
        </ion-item>
      </ion-item>
      <ion-button type="submit" expand="full" class="qr-button">Ingresar Asistencia</ion-button>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar class="duocFooter" slot="bottom">
        <ion-tab-button (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
          Regresar
        </ion-tab-button>

        <ion-tab-button tab="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
          perfil
        </ion-tab-button>
        <ion-tab-button tab="calendar">
          <ion-icon name="calendar-outline"></ion-icon>
          Asistencia
        </ion-tab-button>
        <ion-tab-button tab="more">
          <ion-icon name="menu-outline"></ion-icon>
          more
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

